---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: monitoring
  namespace: monitoring
spec:
  interval: 1m0s
  ref:
    branch: main
  url: https://github.com/fluxcd/flux2-monitoring-example.git
